.mod-popupMenu{
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    list-style: none;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    z-index: 999;

    &:before{
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        display: block;
        width: 0;
        height: 0;
        margin-left: -8px;
        border-style: solid;
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent #000 transparent;
    }
}
.mod-popupMenu__item{
    display: block;
    float: left;
    height: 40px;
    padding: 0 15px;
    font-size: 14px;
    color: #fff;
    line-height: 40px;
    border-right: 1px solid #fff;
    background-color: #000;

    &:first-child{
        border-radius: 10px 0 0 10px;
    }

    &:last-child{
        border-right: 0;
        border-radius: 0 10px 10px 0;    
    }
}
