@charset "utf-8";

.mod-tab{ }
.mod-tab__hd{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    text-align: center;
    height: 44px;
    line-height: 44px;
}
.mod-tab__hdItem{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    background-color: #ddd;
}
.mod-tab__hdItem.act{
    background-color: #888;
}
.mod-tab__bd{}
.mod-tab__bdItem{
    display: none;
    height: 100px;
    background-color: #ffeedd;
    font-size: 36px;
}
.mod-tab__bdItem.act{
    display: block;
}