.mod-video{
    width: 100%;
    height: 100%;
    position: relative;

    &>video{
        width: 100%;
        height: 100%;
        background-color: #000;    
    }

    .mod-video__mask{
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);

        &:before{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            width: 120px;
            height: 120px;
            margin-left: -60px;
            margin-top: -60px;
            border: 5px solid #fff;
            border-radius: 50%;
        }

    }

    &.is-play .mod-video__mask,&.is-pause .mod-video__mask{
        display: block;
    }

    &.is-play .mod-video__mask:after{
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0;
        height: 0;
        margin-left: -10px;
        margin-top: -30px;
        border-style: solid;
        border-width: 32px 0 32px 32px;
        border-color: transparent transparent transparent #fff;
    }

    &.is-pause .mod-video__mask:after{
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 8px;
        height: 48px;
        margin-left: -14px;
        margin-top: -22px;
        background-color: #fff;
        -webkit-box-shadow: 20px 0 0 #fff;
        border-radius: 3px;
    }

}
